:root {
    --DefaultBacgkgroundColor: #fff;
    --DefaultLinkColor: #3c6dff;
    --DefaultFontFamily: "Consolas", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

html {
    background-color: var(--DefaultBacgkgroundColor);
    font-family: var(--DefaultFontFamily);
    font-size: responsive;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a[href] {
    color: var(--DefaultLinkColor);
    text-decoration: none;
    &::after {
        content: " ꜛ";
    }
    &:hover {
        text-decoration: underline;
        &::after {
            content: " ꜜ";
        }
    }
}